.navigation-panel-head{
    display: inherit;
    align-items: center;
    background-color: #A8A2A2;
    min-width: 240px;
    min-height: 60px;
}

.navigation-panel-head__text{
    margin-left: 10px;
}

.navigation-panel-head__text_font{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}