.login-sign-up-form{
    display: none;
    flex-direction: row;
    width: 250px;
    height: 100px;
    position: absolute;
    top: calc(100% / 2 - 50px);
    left: calc(100% / 2 - 125px);
    background-color: #847F7F;
    align-items: center;
    justify-content: center;
}

.login-sign-up-form__auth-button{
    vertical-align: middle;
    display: inherit;
    align-items: center;
    margin: 5px;
}

.login-sign-up-form__auth-button_standard{
    background-color: #C4C4C4;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    width: 90px;
}

.login-sign-up-form__auth-button_standard:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}