.slider-container {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slider-container__seek-slider,
.slider-container__volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-container__seek-slider::-webkit-slider-thumb,
.slider-container__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.slider-container__current-time,
.slider-container__total-duration {
  padding: 10px;
}