.auth-top{
    display: inherit;
    height: 100px;
    width: 800px;
    background-color: #9D9D9D;
    align-items: center;
}

.auth-top__websitename {
    margin-left: 40px;
}

.auth-top__websitename_font {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #ffffff;
}