.auth-bottom{
    display: inherit;
    flex-direction: column;
    height: 250px;
    min-height: 250px;
    width: 800px;
    background-color: #828282;
    align-items: center;
}

.auth-bottom__username-input{
    height: 30px;
    width: 300px;
    border-width: 0;
    padding: 0%;
    margin-top: 45px;
}

.auth-bottom__password-input{
    height: 30px;
    width: 300px;
    border-width: 0;
    padding: 0%;
    margin-top: 20px;
}

.auth-bottom__exception{
    display: none;
    height: 30px;
    width: 300px;
    border-width: 0;
    padding: 0%;
    margin-top: 20px;
}

.auth-bottom__continue-button{
    margin-top: 30px;
}

.auth-bottom__continue-button_standard{
    background-color: #C4C4C4;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}


.auth-bottom__continue-button_standard:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}