.player-form{
    display: none;
    flex-direction: column;
    width: 600px;
    height: 500px;
    position: absolute;
    top: calc(100% / 2 - 250px);
    left: calc(100% / 2 - 300px);
    background-color: #C4C4C4;
    align-items: center;
}


.player-form__image{
    width: 260px;
    height: 260px;
    padding-top: 20px;
}


.player-form__audio-name, .player-form__author-name{
    margin-top: 10px;
    margin-bottom: 10px;
}


.player-form__audio-name_font, .player-form__author-name_font{
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
}

.player-form__slider{
    width: 300px;
    height: 1px;
    margin-top: 20px;
    border-radius: 5px;  
    background: #000000;
}


.player-form__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #000000;
    cursor: pointer;
  }
  
.player-form__slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.player-form__play-button{
    width: 45px;
    height: 38px;
}
  
.player-form__play-button_standard{
    width: 48px;
    height: 35px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-image: url(../../../../static/play.png);
}