.header {
    background-color: #6D6D6D;
    min-height: 50px;
    min-width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    min-width: 1440px;
}

.header__websitename {
    margin-left: 10px;
}

.header__websitename_font {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #ffffff;
}